.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.rating-time-container {
  display: flex;
  margin: 5px 0px;
  justify-content: space-between;
}

.title-text {
  font-size: 16px;
  font-weight: bold;
  display: contents;
}

.sub-title-text {
  display: contents;
  font-size: 16px;
  color: dimgrey;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  margin: 5px;
  background-color: #f0f0f0;
}

.login {
  cursor: pointer;
  height: 50px;
  width: 80px;
  margin-right: 20px;
}

.filter {
  display: flex;
}
